.parentDiv{
    width: 100%;
    height: 100vh;
    position: relative;
}
.home{
    border: 1px solid black;
    border-radius: 10px;
    width: 20vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.head{
    width: 200px;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btn1{
   padding: 1rem;
   background-color:#6C25FF;
   color: white;
   border-radius: 10px;
   border: transparent;
   font-size: 1rem;
   cursor: pointer;
   
}
.btn2{
   padding: 1rem;
   background-color:#CEBAFB;
   color: black;
   border-radius: 10px;
   border: transparent;
   font-size: 1rem;
   font-weight: 800;
   cursor: pointer;
}
.box{
    margin-top: 350px;  
}
